input{
    border-width: 0px !important;
}

.input-group input{
    border-width: 1px !important;
}

.input-group textarea{
    border-width: 1px !important;
}

.anchorBoton{
    border-color: rgb(35,35,35);
    border-style: solid;
    border-radius: 3px;
    padding: 9px;
    border-width: 2px;
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: rgb(35,35,35);
    margin: 10px;
}

.divBoton{
    padding-top: 30px;
    text-align: center;
}

input[type='range']{
    background-color: black !important;
    width: 100% !important;
}

textarea{
    resize: none;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    border-width: 0px !important;

}

.input-group{
    text-align: center;
    border-width: 0px !important;
}

.input-group label{
    text-align: left !important;
}

.range-value{
 display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #353535;
    padding: 5px 10px;
    margin-left: 7px;

    &:after {
      position: absolute;
      top: 8px;
      left: -7px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid #353535;
      border-bottom: 7px solid transparent;
      content: '';
    }
  }

#afui.ios7 .header .button {
    color: #53575E;
}

.divResaltado{
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
}

.divCheckbox{
    float: left;
}

.divCheckbox label {
    color: white !important;
}

#afui input[type=radio]:checked+label:before, #afui input[type=checkbox]:checked+label:before {
background: black;
}

#propiedades{
    padding-top: 10px !important;
}




select:disabled,input:disabled{
	background-color:#eee !important;
}

.backButton{
    color: #353535 !important;
    /*visibility: initial !important;*/
    top:0% !important;
}

.botonAtras{
    float: left;
}

.nextButton{
    color: #353535 !important;
}

.funcionalidad{
    position: absolute;
    right: 5px;
    top: 0%;
    color: #353535 !important;
    height: 44px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    font-family: HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
    visibility: hidden;
}

.contenedorBarraInicio{
    z-index: 10000;
}

/* iconos */
li .fa{
    padding-right: 10px;
}

footer .button{
    color: #353535 !important;
}

.afPopup{
    border-width: 0px !important;
}

.divSeleccion{
    padding-right: 10px;
}

.divAyuda{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    z-index:10000;
    background-color:rgba(0,0,0,0.5);
}

.divBotonAyuda{
    margin-top: 20px;

}

.divMensajeAyudaHeader{
    border-bottom: darkgrey;
    border-width: 1px;
    border-bottom-style: solid;
    padding: 5px;
}

.divMensajeAyuda{
    margin-left: 10%;
    position:absolute;
    padding: 15px;
    width:80%;
    top:10%;
    z-index:10000 !important;
    background-color: #FFF;
    border-radius: 5px;
    border-width: 0px !important;
}

.fa-home{
    margin-bottom: -29px;
    margin-top: 4px;
    display: block;
    font-size: 30px;
    position: relative;
}

.fa-compress{
    margin-bottom: -29px;
    margin-top: 4px;
    display: block;
    font-size: 30px;
    position: relative;
    padding-left: 5px;
}

.exito{
    color:#19AA19;
}

.error{
    color:#D61B2A;
}
